force-app/main/default/flows/Crear_plan_de_estudios.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Parseo_de_materias</name>
        <label>Parseo de materias</label>
        <locationX>176</locationX>
        <locationY>369</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_de_Materias</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Materias_Checkbox</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Agregar_a_la_coleccion</name>
        <label>Agregar a la colección</label>
        <locationX>406</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>Coleccion_de_asignaturas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Asignatura</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_de_Materias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completar_campos_de_asignatura</name>
        <label>Completar campos de asignatura</label>
        <locationX>406</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>Asignatura.Escuela__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asignatura.Anio_en_curso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Anio_lectivo_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asignatura.Materia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_de_Materias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_la_coleccion</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Aniosencurso</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Anio_en_curso__c</picklistField>
        <picklistObject>Plan_de_estudios__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Materias_disponibles</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Materia__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Crear plan de estudios {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crear plan de estudios</label>
    <loops>
        <name>Loop_de_Materias</name>
        <label>Loop de Materias</label>
        <locationX>176</locationX>
        <locationY>527</locationY>
        <collectionReference>Parseo_de_materias</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Completar_campos_de_asignatura</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insertar_plan_de_estudios</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insertar_plan_de_estudios</name>
        <label>Insertar plan de estudios</label>
        <locationX>175</locationX>
        <locationY>770</locationY>
        <inputReference>Coleccion_de_asignaturas</inputReference>
    </recordCreates>
    <screens>
        <name>Crear_plan_de_estudios</name>
        <label>Crear plan de estudios</label>
        <locationX>176</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Parseo_de_materias</targetReference>
        </connector>
        <fields>
            <name>Anio_lectivo_input</name>
            <choiceReferences>Aniosencurso</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Año lectivo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Materias_Checkbox</name>
            <choiceReferences>Materias_disponibles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Materias</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Crear_plan_de_estudios</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Asignatura</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_de_estudios__c</objectType>
    </variables>
    <variables>
        <name>Coleccion_de_asignaturas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plan_de_estudios__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
