force-app/main/default/flows/Trigger_Boletin_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Agregar_a_la_coleccion_de_calificaciones</name>
        <label>Agregar a la colección de calificaciones</label>
        <locationX>467</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>Coleccion_de_calificaciones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calificacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_materias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completar_campos_de_Calificacion</name>
        <label>Completar campos de Calificación</label>
        <locationX>467</locationX>
        <locationY>673</locationY>
        <assignmentItems>
            <assignToReference>Calificacion.Materia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_materias.Materia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Calificacion.Boletin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_la_coleccion_de_calificaciones</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Trigger Boletín Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger Boletín Insert</label>
    <loops>
        <name>Loop_materias</name>
        <label>Loop materias del plan de estudios</label>
        <locationX>175</locationX>
        <locationY>682</locationY>
        <collectionReference>Plan_de_estudios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Completar_campos_de_Calificacion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insertar_coleccion_de_calificaciones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insertar_coleccion_de_calificaciones</name>
        <label>Insertar colección de calificaciones</label>
        <locationX>175</locationX>
        <locationY>948</locationY>
        <connector>
            <targetReference>Insertar_inasistencias</targetReference>
        </connector>
        <inputReference>Coleccion_de_calificaciones</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insertar_inasistencias</name>
        <label>Insertar inasistencias</label>
        <locationX>175</locationX>
        <locationY>1108</locationY>
        <inputAssignments>
            <field>Boletin__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Inasistencia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Alumno</name>
        <label>Buscar alumno</label>
        <locationX>176</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plan_de_estudios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Alumno__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>A_o_que_cursa__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Plan_de_estudios</name>
        <label>Buscar plan de estudios</label>
        <locationX>176</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_materias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Escuela__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alumno.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Anio_en_curso__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Anio_lectivo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plan_de_estudios__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Materia__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Alumno</targetReference>
        </connector>
        <object>Boletin__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Calificacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Calificacion__c</objectType>
    </variables>
    <variables>
        <name>Coleccion_de_calificaciones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Calificacion__c</objectType>
    </variables>
</Flow>
